.vid{
  max-width: 100%;
}

.m-20{
  margin: 20px;
}

.m-b-20{
  margin-bottom: 20px;
}

.m-l-5{
  margin-left: 5px;
}

.none{
  display: none;
}

.size-20 {
    font-size: 20px;
}

.inline-block {
    display: inline-block;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.quote-box {
  border-radius: 3px;
  position: relative;
  margin: 5% auto auto auto;
  padding: 30px 50px;
  display: block;
  background-color: #fff;

-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.quote-box .quote-text {
  text-align: center;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}
.quote-box .quote-text i {
  font-size: 1.0em;
  margin-right: 0.4em;
}
.quote-box .quote-date {
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 16px;
  text-align: right;
}

.plyr__video-wrapper {
    margin-bottom: 5%;
}

@media all and (max-width: 600px) {
    .quote-box .quote-text {
        font-size: 18px;
    }
}
